<div class="panel panel-default panel-success">
    
    <div class="panel-heading">
        <div class="glyphicon-style-remove pull-right" >
            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="$ctrl.delete()" ng-hide="isOne"></span>
        </div>
        <h3 class="panel-title" ng-bind="$ctrl.item.title"></h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="todo in $ctrl.todos track by $index">
                <label ng-hide="todo.$edit">
                    <input type="checkbox" ng-model="todo.isComplete"> 
                    <span ng-bind="todo.title" ng-class="{completed: todo.isComplete}"></span>
                </label>
                <input type="text" class="form-control" ng-model="todo.title" ng-show="todo.$edit" ng-blur="$ctrl.save($event,todo)">
                <button class="btn btn-danger pull-right" ng-click="$ctrl.remove($event, todo.id)" ng-hide="todo.$edit">Delete</button>
                <button class="btn btn-info pull-right" ng-click="todo.$edit = true" ng-hide="todo.$edit">Edit</button>
            </li>
            <li class="list-group-item" ng-if="$ctrl.isShow">
                <a href="#" ng-click="$ctrl.fixMe($event)">Click me</a>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <input type="text" ng-class="{'form-control': $ctrl.isShow}" ng-model="$ctrl.value" ng-blur="$ctrl.onBlur($event)" placeholder="Add todo">
        <button class="btn btn-success" ng-click="$ctrl.addToDo($event)">Add</button>
    </div>
</div>

<!--ng-show="$ctrl.listItems.length > 1"-->