<div class="row">
    <todo-list class="col-md-4" ng-repeat="item in $ctrl.listItems" item="item" on-delete="$ctrl.removeList(item.id)"></todo-list>
    <div class="col-md-4">
        <div class="glyphicon-style" ng-show="$ctrl.listItems.length < 3">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="$ctrl.addNewList($event)"></span>
        </div>
    </div>
</div>